<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Justin Hill</string>
	<key>Builder Version</key>
	<string>9537.51.3</string>
	<key>CFBundleDisplayName</key>
	<string>Vimtastic</string>
	<key>CFBundleIdentifier</key>
	<string>me.herpderp.vimtastic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/injected/WindowManipulation.js</string>
				<string>js/injected/LinkHints.js</string>
				<string>js/injected/Main.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/Vimtastic.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A CoffeeScript port of Vimari that aims to extend and modularize.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
